/*
 * Style for alignment editor
 *  
 * Copyright 2009 Cantus Foundation
 * http://alpheios.net
 * 
 * This file is part of Alpheios.
 * 
 * Alpheios is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Alpheios is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
 
body {
    background-color: #e0e0e0;
}

svg {
    background-color: whitesmoke;
   
}


label[for=interlinear-checkbox] {
    margin: 2px;
    color:#505050;
    font-family:Futura,Verdana,sans-serif;
    font-size:75%;
    float:right;
}

label {
    margin: 2px;
    color:#505050;
    font-family:Futura,Verdana,sans-serif;
    font-size:75%;
   
}

#interlinear-checkbox {
    float:right;

}

button {
    margin: 2px;
    background-color: #6a9fb5;
    border-color:#505050;
    border-style:solid;
    border-width:1px;
    color:#e0e0e0;
    font-family:Futura, sans-serif;
    font-size:75%;
    border-radius: 5px;
    float:left;
}
button:hover {
    border-style: outset;
    border-color: #6a9fb5;
    background-color:#90a959;
    color: black;
}
button:active {
    border-style: inset;
    background-color: #8795a2;
}
button[disabled] {
    background-color:#e0e0e0;
    border-color:#505050;
    border-style: solid;
    border-radius: 5px;
    color: whitesmoke;
}


div.summary {
    font-family:Futura,sans-serif;
    font-size: 15px;
    border-style: solid;
    width: 250px;
    border-width: thin;
    border-radius: 5px;
    color:#505050;
    display:none;
 
}

div.summary table {
    border-collapse: collapse;
}
div.summary table td {
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
    border-style: solid;
    border-width: thin;
}
#exportform {
   display:inline;
}

g {
    pointer-events:all;
}

/*Hack to change fonts for Arabic
-this should eventually be replaced with variables
to change fonts by language */

g[direction=rtl] g g text {
    font-family:LateefRegular;
    font-size: 20px;
   /* fill: #303030;*/
}


g[direction=ltr] g g text {
    font-family: Bodoni,serif;
    font-size: 20px;
  /*  fill: #303030;*/
}
text.headwd {
    font-size: 20px;
}
g.alignment text {
    font-size: 15px;
}
text.free {
    fill: #e49a0d;
}
text.edit-focus {
    fill: black;
}
text.free.edit-focus {
    fill: white;
}
text.browse-focus {
    fill: white;
}
text.aligned-focus {
    fill: white;
}
text.free.browse-focus {
    fill: white;
}

line.divider {
    stroke-width: 2px;
    stroke: black;
}

g rect {
    stroke-width: 0;
    fill: none;

}

g rect.marked {
    stroke-width: 1px;
    stroke: #75b5aa;
}
g rect.browse-focus {
    fill: #aa759f;
    stroke-width: 1px;
    stroke: #75b5aa;
}
g rect.edit-focus {
    fill: #aa759f;
    stroke-width: 1px;
    stroke: #75b5aa;
}
g rect.aligned-focus {
    fill: #aa759f;
}
g rect.selected {
    fill: #aa759f;
    stroke-width: 1px;
    stroke: #75b5aa;
}


.sentence_title {
    margin-top: -1em;
    margin-left: 1em;
    font-style: italic;
    color: #3E8D9C;
    font-weight: 100;
}

#alpheios-put-notice {
    text-align:center;
    font-weight: bold;
    color:#90a959;
}

#alpheios-put-notice.error {
    color:#ac4142;
}

.hint {
    font-style: italic;
    font-size: smaller;

}
